# การจัดการไฟล์ - File Management

## Write file - การเขียนข้อมูลลงไปในไฟล์

### Write file ด้วยโหมด w

'w'– **w** คือการเปิดไฟล์เพื่อเขียนข้อมูลลงไปในไฟล์ โดยที่ข้อมูลที่เขียนลงไปนั้นจะทับข้อมูลเดิม

In [0]:
file = open('selected-topics.txt', 'w') 
#'w' – Write mode which is used to edit and write new information to the file
 
file.write('Hello World!') 
file.write('Faculty of Informatics, Mahasarakham University') 
file.write('This is Selected Topics course') 
 
file.close()

In [2]:
!ls

sample_data  selected-topics.txt

ใช้คำสั่ง **cat** เพื่ออ่านข้อมูลที่อยู่ในไฟล์ **selected-topics.txt**

In [3]:
!cat selected-topics.txt

Hello World!Faculty of Informatics, Mahasarakham UniversityThis is Selected Topics course

จากตัวอย่างข้างต้น ใช้คำสั่ง **file.write** เพื่อเขียนข้อมูลลงไปในไฟล์ แต่ไม่ได้พิมพ์คำสั่งให้ขึ้นบรรทัดใหม่ จึงทำให้ข้อความพิมพ์ต่อกันในบรรทัดเดียวกัน  
  
    
**ดังนั้น** หากต้องการให้เพิ่มข้อมูลลงไปในบรรทัดใหม่จะต้องใช้คำสั่ง **\n** เพิ่มเข้าไปต่อท้ายข้อความ

In [0]:
file = open('selected-topics.txt', 'w') 
#'w' – Write mode which is used to edit and write new information to the file
 
file.write('Hello World!\n') 
file.write('Faculty of Informatics, Mahasarakham University\n') 
file.write('This is Selected Topics course\n') 
 
file.close()

เมื่อใช้คำสั่ง cat เพื่อดูข้อมูลจะสังเกตเห็นว่าข้อความได้ขึ้นบรรทัดใหม่ และข้อความที่เขียนลงไปใหม่จะทับกับข้อมูลเดิม เนื่องจากการเปิดไฟล์แบบ **w**

In [5]:
!cat selected-topics.txt

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

### Write file ด้วยโหมด a  

'a'– **a** คือการเปิดไฟล์เพื่อเขียนข้อมูลลงไปในไฟล์ โดยที่ข้อมูลที่เขียนลงไปนั้นจะถูกนำไปต่อท้าย (append) ข้อมูลเดิมที่มีอยู่ในไฟล์

In [0]:
file = open('selected-topics.txt', 'a') 
#'a' – Appending mode, which is used to add new data to the end of the file; 
#that is new information is automatically amended to the end
 
file.write('Hello World!\n') 
file.write('Faculty of Informatics, Mahasarakham University\n') 
file.write('This is Selected Topics course\n') 
 
file.close()

เมื่อใช้คำสั่ง cat จะเห็นว่าข้อมูลที่เขียนลงไปใหม่ (file.write) จะถูกเขียนต่อท้ายข้อมูลเดิม เนื่องจากใช้การเปิดไฟล์ในโหมด **'a'** หรือ append

In [8]:
!cat selected-topics.txt

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

## Open file - การเปิดไฟล์เพื่ออ่านข้อมูล

'r' - **r** ใช้สำหรับการอ่านข้อมูลภายในไฟล์เท่านั้น

In [9]:
file = open('selected-topics.txt', 'r') 
#'r' Read mode which is used when the file is only being read 

print(file.read())

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

### อ่านและแสดงข้อมูลตามจำนวนที่กำหนด

สามารถกำหนดจำนวนของข้อมูลที่ต้องการแสดง ดังนี้

In [10]:
file = open('selected-topics.txt', 'r') 

print(file.read(12)) # 12 ตัวอักษร

Hello World!

In [12]:
file = open('selected-topics.txt', 'r') 

print(file.read(61)) # 61 ตัวอักษร

Hello World!
Faculty of Informatics, Mahasarakham University

### อ่านและแสดงข้อมูลทีละบรรทัด

file.readline() จะแสดงข้อมูลเฉพาะบรรทัดแรก

In [18]:
file = open('selected-topics.txt', 'r') 

print(file.readline())

Hello World!

หากต้องการแสดงข้อมูลทั้งหมดสามารถใช้ **readlines()**

In [23]:
file = open('selected-topics.txt', 'r') 

print(file.readlines())

['Hello World!\n', 'Faculty of Informatics, Mahasarakham University\n', 'This is Selected Topics course\n', 'Hello World!\n', 'Faculty of Informatics, Mahasarakham University\n', 'This is Selected Topics course\n']

หากต้องการแสดงข้อมูลทีละบรรทัดโดยใช้ **readlines()**

In [28]:
file = open('selected-topics.txt', 'r') 

all_text = file.readlines()
print('Type', type(all_text))
print('Number of lines', len(all_text))
print('Line No. 1', all_text[0])
print('Line No. 2', all_text[1])

Type <class 'list'>
Number of lines 6
Line No. 1 Hello World!

Line No. 2 Faculty of Informatics, Mahasarakham University

แสดงข้อมูลทั้งหมดจาก **List** เนื่องจากได้อ่านข้อมูลจากไฟล์และเก็บไว้ที่ตัวแปร **all_text**

In [37]:
file = open('selected-topics.txt', 'r') 

all_text = file.readlines()
cnt = 1
for text in all_text:
  print('Line No.', cnt, text)
  cnt += 1

Line No. 1 Hello World!

Line No. 2 Faculty of Informatics, Mahasarakham University

Line No. 3 This is Selected Topics course

Line No. 4 Hello World!

Line No. 5 Faculty of Informatics, Mahasarakham University

Line No. 6 This is Selected Topics course

สามารถเขียน for-loop เพื่อแสดงข้อมูลที่อ่านจาก text file ได้โดยตรง โดยไม่ต้องเก็บไว้ในตัวแปรประเภท List ดังนี้

In [38]:
file = open('selected-topics.txt', 'r') 

cnt = 1
for line in file.readlines():
  print('Line No.', cnt, line)
  cnt += 1

Line No. 1 Hello World!

Line No. 2 Faculty of Informatics, Mahasarakham University

Line No. 3 This is Selected Topics course

Line No. 4 Hello World!

Line No. 5 Faculty of Informatics, Mahasarakham University

Line No. 6 This is Selected Topics course

จากตัวอย่างข้างต้น ผลลัพธ์อาจเกิดข้อผิดพลาดเนื่องจาก '\n' ดังนั้น สามารถแก้ไขได้ดังนี้  

ใช้คำสั่ง **strip()** เข้ามาช่วยในการจัดการ

In [39]:
file = open('selected-topics.txt', 'r') 

for line in file: 
  print(line.strip())

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

In [40]:
file = open('selected-topics.txt', 'r') 

for line in file.readlines():
  print(line.strip())

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

นอกจากใช้ **strip()** เพื่อช่วยจัดการการ **'\n'** ยังสามารถใช้คำสั่ง **end=''** ได้เช่นกัน

In [43]:
file = open('selected-topics.txt', 'r') 

all_text = file.readlines()
cnt = 1
for text in all_text:
  print('Line No.', cnt, text, end='')
  cnt += 1

Line No. 1 Hello World!
Line No. 2 Faculty of Informatics, Mahasarakham University
Line No. 3 This is Selected Topics course
Line No. 4 Hello World!
Line No. 5 Faculty of Informatics, Mahasarakham University
Line No. 6 This is Selected Topics course

In [41]:
file = open('selected-topics.txt', 'r') 

cnt = 1
for line in file.readlines():
  print('Line No.', cnt, line, end='')
  cnt += 1

Line No. 1 Hello World!
Line No. 2 Faculty of Informatics, Mahasarakham University
Line No. 3 This is Selected Topics course
Line No. 4 Hello World!
Line No. 5 Faculty of Informatics, Mahasarakham University
Line No. 6 This is Selected Topics course

สามารถใช้ **with statement** เข้ามาช่วยในการอ่านไฟล์

In [44]:
filepath = 'selected-topics.txt'
with open(filepath) as fp:
  for line in fp:
    print(line.strip())

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

In [45]:
filepath = 'selected-topics.txt'
with open(filepath) as fp:
   line = fp.readline()   
   while line:
       print(line.strip())
       line = fp.readline()

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

## ค้นหาข้อมูลและแทนที่ข้อมูลที่ค้นหาด้วยข้อมูลใหม่ (Search and Replace)

In [47]:
!ls

sample_data  selected-topics.txt

In [48]:
filepath = 'selected-topics.txt'
with open(filepath) as fp:
  for line in fp:
    print(line.strip())

Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello World!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

###ค้นหาข้อมูล (Search) ด้วย Regular Expression
จากตัวอย่างกำหนดให้ค้นหาคำว่า **'World'**

In [51]:
import re

search_txt = 'World'   # คำที่ต้องการค้นหา

cnt = 1
filepath = 'selected-topics.txt'
with open(filepath) as fp:
  for line in fp:
    match = re.search(search_txt, line.strip())
    if match:
      print('Found in line No:', cnt, line.strip())
    else:
      pass   
    cnt += 1

Found in line No: 1 Hello World!
Found in line No: 4 Hello World!

### หากค้นพบข้อมูลให้ทำการแทนที่ด้วยข้อความใหม่ (Replace)

หากค้นพบคำว่า **World** ให้แทนที่ด้วยคำว่า **Global**

In [52]:
import re

search_txt = 'World'   # คำที่ต้องการค้นหา
change_txt = 'Global'  # คำที่ต้องการเปลี่ยน (replace)

filepath = 'selected-topics.txt'
with open(filepath) as fp:
  for line in fp:
    match = re.search(search_txt, line.strip())
    if match:
      print(line.replace(search_txt, change_txt).strip())      
    else:
      print(line.strip())

Hello Global!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course
Hello Global!
Faculty of Informatics, Mahasarakham University
This is Selected Topics course

# Try Except - การจัดการข้อผิดพลาด

*   ตัวอย่างการหาตัวเลขใน string
*   วิธีนี้จะหาตัวเลขแบบ **float** ใน **string** ไม่ได้

In [53]:
# initializing string  
test_string = "There are 2 apples for 4 persons"
  
# printing original string  
print("The original string : " + test_string) 
  
# using List comprehension + isdigit() +split() 
# getting numbers from string  
res = [int(i) for i in test_string.split() if i.isdigit()] 
  
# print result 
print("The numbers list is : " + str(res))

The original string : There are 2 apples for 4 persons
The numbers list is : [2, 4]

หากเปลี่ยนเป็นเลข **2.5** แต่ก็จะค้นเจอเฉพาะเลข **4** เท่านั้น

In [55]:
# initializing string  
test_string = "There are 2.5 apples for 4 persons"
  
# printing original string  
print("The original string : " + test_string) 
  
# using List comprehension + isdigit() +split() 
# getting numbers from string  
res = [int(i) for i in test_string.split() if i.isdigit()] 
  
# print result 
print("The numbers list is : " + str(res))

The original string : There are 2.5 apples for 4 persons
The numbers list is : [4]

วิธีการค้นหาตัวเลขที่เป็น float สามารถทำได้หลากหลายวิธี ตัวอย่างแสดงให้เห็นการใช้ **split** เข้ามาช่วยในการค้นหา float

* **split** จะใช้ได้กับตัวแปรประเภท string เท่านั้น
* เมื่อใช้คำสั่ง split ผลลัพธ์ที่ได้จะเป็นประเภท **list**

In [56]:
test_string = "There are 2.5 apples for 4 persons"
test_string.split(' ')

['There', 'are', '2.5', 'apples', 'for', '4', 'persons']

ยกตัวอย่าง การใช้ try except เข้ามาช่วยในการจัดการข้อผิดพลาด

* จากกรณีต่อไปนี้ กำหนดให้ **chk_txt = 'apple'** ดังนั้น **chk_txt** จึงเป็นตัวแปรประเภท **str** 
* ดังนั้น หากตัวแปรประเภท **str** ถูกครอบด้วยฟังก์ชัน **float** จะเกิดข้อผิดพลาขึ้น ดังนี้

In [57]:
chk_txt = 'apple'

if(float(chk_txt)):
  print('float', chk_txt)
else:
  print('not float')

ValueError: ignored

ดังนั้น การใช้ฟังก์ชัน **float** จะใช้ได้กับตัวแปรที่เป็นตัวเลขเท่านั้น เช่น

In [58]:
chk_txt = '2.5'

if(float(chk_txt)):
  print('float', chk_txt)
else:
  print('not float')

float 2.5

หากข้อมูลที่อยู่ในตัวแปร **chk_txt** มีค่าเป็น **2** ก็จะถือว่าเป็นข้อมูลประเภท **float** ด้วยเช่นกัน

In [59]:
chk_txt = '2'

if(float(chk_txt)):
  print('float', chk_txt)
else:
  print('not float')

float 2

จากที่ได้กล่าวมาข้างต้น จึงได้ใช้ **try-except** เข้ามาเพื่อช่วยจัดการกับข้อผิดพลาดที่อาจจะเกิดขึ้น ดังนี้

* สังเกตได้ว่า **chk_txt = 'apple'** เป็นตัวแปรประเภท **str** แต่ก็ไม่มี error หรือข้อผิดพลาดปรากฎ

In [60]:
chk_txt = 'apple'

try:
  float(chk_txt)
  print('float', chk_txt)
except:
  print('not float')

not float

In [61]:
chk_txt = '2.4'

try:
  float(chk_txt)
  print('float', chk_txt)
except:
  print('not float')

float 2.4

## ตัวอย่างการประยุกต์ใช้คำสั่ง **split** และ **try-except** เพื่อค้นหาตัวเลขที่เป็น **float**  และ **int** ดังนี้

In [0]:
test_string = "There are 2.5 apples for 4 persons"

for test in test_string.split(' '):
  try:
    float(test)
    print(test, ': Float')
  except:
    print(test, ': not Float')

There : not Float
are : not Float
2.5 : Float
apples : not Float
for : not Float
4 : Float
persons : not Float

จากตัวอย่างข้างต้น หากค้นเจอตัวเลข ขั้นตอนถัดไปคือการเก็บตัวเลขลงในตัวแปรประเภท **list**

In [62]:
num = []  # กำหนดตัวแปรชื่อ num ให้เป็นตัวแปรประเภท list

for test in test_string.split(' '):
  try:
    float(test)
    # num.append() คือคำสั่งในการเพิ่มข้อมูลลงไปเก็บไว้ในตัวแปรประเภท list
    num.append(float(test))
  except:
    pass
  
print('Number', num)

Number [2.5, 4.0]